{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Tailwind CSS -->
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" type="text/css" /> {% endcomment %}
     <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Custom css-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!--bootstrap js-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/6809eb288c.js"></script>
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    


    <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    </script>
        

    <title>Improveo | {% block title %} {% endblock title %}</title>
  </head>
  <body>
  {% include 'navbar.html' %}
    <section class="bg-dark">
    <div class="pt-n pb-5">
    {% block content %}
    {% endblock content %}
    </div>
    </section>
    {% include 'footer.html' %}
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>